<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<table class="table">
		{% for i in keys %}
			<tr>
		  		<th>({{ i }}) {{ i|fromData }}</th>
		  		<td>
		  			<a href="#descargar{{ i }}" class="btn btn-default">Descargar</a>
		  			<a href="#diario_precipitacion{{ i }}" class="btn btn-default">Precipitaci&oacute;n Diaria</a>
		  			<a href="#mensual_precipitacion{{ i }}" class="btn btn-default">Precipitaci&oacute;n Mensual</a>
		  		</td>
			</tr>
		{% endFor %}
		</table>
	</div>
</div>