<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		Nuevamente la Provincia de Córdoba le solicita a la Escuela de Ingeniería en Computación de la FCEFyN-UNC, que realice el diseño, desarrollo y prueba del sistema de gestión y acceso a una base de datos hidro-meteorológica.
	</div>
</div>