<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<table class="table">
			<tr>
		  		<th>Procesador:</th>
		  		<td>{{ CPU }}</td>
			</tr>
			<tr>
		  		<th>Memoria:</th>
		  		<td>{{ Mem free }} Disponible - {{ Mem total }} Total</td>
			</tr>
			<tr>
		  		<th>Fecha/Hora:</th>
		  		<td>{{ Fecha/Hora }}</td>
			</tr>
			<tr>
		  		<th>Tiempo de Funcionamiento:</th>
		  		<td>{{ Uptime }}</td>
			</tr>
		</table>
	</div>
</div>