<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<table class="table">
		{% for i in keys %}
			<tr>
		  		<th>{{ i }}</th>
		  		<td>{{ i|fromData }}</td>
			</tr>
		{% endFor %}
		</table>
	</div>
</div>