<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<table class="table">
		{% for i in keys %}
			<tr>
		  		<th>{{ i|fromData }}</th>
		  		<td>
		  			<a href="#promedio{{ i }}" class="btn btn-default">Ver</a>
		  		</td>
			</tr>
		{% endFor %}
		</table>
	</div>
</div>